* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    color: brown;
}

header {
    background-color: #ffa53b;
    color: bisque;
    padding: 10px;
}

section {
    background-color: bisque;
    color: brown;
    padding: 10px;
}

#wynik {
    background-color: #fcc38e;
    padding: 10px;
    border: 1px solid sandybrown;
}
input   {
    margin-bottom: 3px;
}